@model EjemploABMCompleto.Models.Atraccion

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Atraccion</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Nombre)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Nombre)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Descripcion)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Descripcion)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Tipo)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Tipo)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.EdadMinima)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.EdadMinima)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.EdadMaxima)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.EdadMaxima)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.AlturaMinima)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.AlturaMinima)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.AlturaMaxima)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.AlturaMaxima)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FotoUrl)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FotoUrl)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Parque)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Parque.EdadObjetivo)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
